/* body {
  font-family: Arial;
  width: 250px;
  padding: 10px;
  text-align: center;
}
button {
  background: #0078d7;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #005fa3;
} */
